mem_top==0.1.6
orderedset==2.0.3
opencv-python==4.5.3.56
# alternatively, use opencv2 built from source if you require it, e.g.
# https://github.com/opencv/opencv/releases/tag/4.5.3
imutils==0.5.3
numpy==1.18.5
cvlib==0.2.5
progressbar2==3.51.4
tensorflow==2.7.2
jsonschema==3.2.0
packaging==21.0
importlib_resources==5.2.2  ; python_version<'3.7'